body
{
	margin: 0;
	background-color: aliceblue;
}
header
{	
	background-color: #1c94e0;
	font-family: 'Josefin Sans', sans-serif;
}
p
{
	margin: 0;
}
.div_title
{
	text-align: center;
	padding: 15px;
}
.div_title_tabs
{
	padding: 10px;
}
.div_logon
{
	padding: 15px;
}
.div_container_logon
{
	padding: 10px;
}
.div_username, .div_pwd
{
	padding: 10px;
}
.div_valid input
{
	background: transparent;
	border: solid;
	border-width: 1px;
	color: white;
	font-family: 'Josefin Sans', sans-serif;
}
.big_container
{
}
.div_all_index
{
	margin: 10px 0;
}
.div_main_tabs
{
}
.div_tabs
{
}
.div_container_tabs
{
	padding: 10px;
}
.div_content_tabs
{
	border-bottom: solid;
    border-left: solid;
    border-right: solid;
    border-width: 1px;
    border-color: transparent;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.div_tabs p
{
	padding: 10px;
	font-size: 19px;
}
.div_third_tab
{
	border-right: none;
}
.div_slider
{
	margin-top: 10px;
    height: 298px;
}
.div_container_slider
{
	background: url(mountain.jpg);
    height: 100%;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: cover;
}
h2
{
	text-align: center;
}
.termsofuse
{
	text-align: center;
	font-size: 12px;
	color: gray;
}
.div_header
{
	height: 100%;
	padding: 10px;
}
.div_header .container_t_l
{
	height: 100%;
}
.div_header .div_logon .div_container_logon input
{
	width: 100%;
}
.div_main_index
{
	padding: 15px !important;
}
.div_index
{
	border: solid;
	border-width: 1px;
}
.div_index .div_first_part
{
	border-right: solid;
	border-width: 1px;
}
.div_second_part .div_container_sp .form_register .user_sex
{
display: inline-block;
}
.div_second_part .div_container_sp .form_register .user_sex input, .div_second_part .div_container_sp .form_register .user_sex p
{
display: inline-block;
}
.div_container_sp .form_register .div_user_sex
{
text-align: center;
}
.div_main_index .div_index .div_second_part .div_container_sp .form_register input
{
display: block;
margin: 5px;
position: relative;
height: 35px;
transform: translateX(-50%);
left: 50%;
width: 50%;
    border: solid;
    border-width: 1px;
}
.user_sex input
{
	height: auto !important;
}
/*
.div_logon .div_container_logon, .div_logon .div_valid
{
display: inline-block;
}
.div_logon .div_container_logon div
{
border-width: 1px !important;
border: solid;
margin-top: 3px;
cursor: pointer;
}
.div_main_index
{
display: block;
position: relative;
padding: 20px 0;
}
.div_index
{
display: block;
width: 35%;
position: relative;
transform: translateX(-50%);
left: 50%;
}
.div_main_index .div_index .div_first_part, .div_main_index .div_index .div_second_part
{
height: 500px;
display: inline-block;
width: calc(98% / 2);
border: solid;
border-width: 1px;
}
.div_main_index .div_index .div_second_part
{
float: right;
}
.div_main_index .div_index .div_second_part .div_container_sp
{
position: relative;
}
.div_main_index .div_index .div_second_part .div_container_sp .form_register
{
width: 100%;
}
.div_main_index .div_index .div_second_part .div_container_sp .form_register input
{
display: block;
margin: 5px;
width: 50%;
position: relative;
height: 35px;
transform: translateX(-50%);
left: 50%;
}
.div_second_part .div_container_sp .form_register .user_sex
{
display: inline-block;
}
.div_second_part .div_container_sp .form_register .user_sex input, .div_second_part .div_container_sp .form_register .user_sex p
{
display: inline-block;
}
.div_container_sp .form_register .div_user_sex
{
text-align: center;
}
.div_container_sp .form_register input[type="submit"]
{
position: relative;
transform: translateX(-50%);
left: 50%;
}
.termsofuse
{
margin: 20px 0 20px 0;
font-size: 12px;
color: gray;
text-align: center;
}*/
.div_first_part
{
	background: url(wh.png);
	background-size: cover;
	background-position-x: 50%;
	background-position-y: 50%;
}
