body
{
	margin: 0;
	background-color: aliceblue;
}
header
{
	width: 100%;
    position: relative;
    height: 50px;
    background-color: rgba(68, 131, 255,0.8);
}
p
{
	margin: 0;
}
.div_header
{
	position: absolute;
    transform: translateX(-50%);
    height: 100%;
    left: 50%;
    width: 35%;
    text-align: center;
}
.div_header h2
{
	margin: 0;
	transform: translateY(-50%);
    position: relative;
    top: 50%;
    color: white;
}
.div_second_part h2
{
	text-align: center;
	color: black;
}
.div_title
{
	float: left;
    height: 100%;
}
.div_logon
{
    display: block;
    height: 100%;
    float: right;
}
.div_logon .div_container_logon, .div_logon .div_valid
{
	display: inline-block;
}
.div_logon .div_container_logon div
{
	border-width: 1px !important;
	border: solid;
	margin-top: 3px;
	cursor: pointer;
}
.div_main_index
{
	display: block;
    position: relative;
    padding: 20px 0;
}
.div_index
{
	display: block;
    width: 35%;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
}
.div_main_index .div_index .div_first_part, .div_main_index .div_index .div_second_part
{
	height: 500px;
	display: inline-block;
	width: calc(98% / 2);
	border: solid;
	border-width: 1px;
}
.div_main_index .div_index .div_second_part
{
	float: right;
}
.div_main_index .div_index .div_second_part .div_container_sp
{
	position: relative;
}
.div_main_index .div_index .div_second_part .div_container_sp .form_register
{
	width: 100%;
}
.div_main_index .div_index .div_second_part .div_container_sp .form_register input
{
	display: block;
	margin: 5px;
    width: 50%;
    position: relative;
    height: 35px;
    transform: translateX(-50%);
    left: 50%;
}
.div_second_part .div_container_sp .form_register .user_sex
{
	display: inline-block;
}
.div_second_part .div_container_sp .form_register .user_sex input, .div_second_part .div_container_sp .form_register .user_sex p
{
	display: inline-block;
}
.div_container_sp .form_register .div_user_sex
{
	text-align: center;
}
.div_container_sp .form_register input[type="submit"]
{
	position: relative;
    transform: translateX(-50%);
    left: 50%;
}
.termsofuse
{
	margin: 20px 0 20px 0;
	font-size: 12px;
	color: gray;
	text-align: center;
}
.div_first_part
{
	background: url(wh.png);
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
}